.aside {
  display: none;
}

@media (min-width: 768px) {
  .aside {
    width: 24rem;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: var(--color-background);
    z-index: 1;
    padding: 8rem 4rem;
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--border-color);
  }
}

.list {
  list-style: none;
  padding: 0;
}

.item {
  margin-bottom: 1rem;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  padding: 1rem 6rem;
  text-decoration: none;
  color: var(--text-color);
  border-radius: 1.6rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.link:hover,
.link:focus {
  background-color: #303030;
  color: var(--text-color);
}

.active {
  background-color: #272727;
  color: var(--text-color);
}
