/* Variables */
:root {
  --color-primary: #5448ee;
  --color-primary--soft: #766cff;
  --color-background: #191919;
  --color-background-soft: #2d2d2d;
  --text-color: rgb(227, 227, 227);
  --text-color-soft: rgb(210, 209, 209);
  --logo-color: rgb(242, 242, 242);
  --border-color: #444;
}

/* Global Styles */
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
  background-color: var(--color-background);
  color: var(--text-color);
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  font-family: 'Inter', sans-serif;
}
