.homepage {
  background-color: var(--color-background-soft);
  padding: 2rem;
}

.posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin: 2rem 0 8rem 0;
  padding: 0;
}
